/* INTRO */
.intro {
  text-align: center;
  padding: 1rem;
  background: var(--yellow-soft);
  border-top: none;
  border-bottom: 2px dashed var(--yellow);
  margin-bottom: 2rem;
  color: var(--text-dark);
}